/* Style of the unrevealed tiles after game over */
.explodedField .tile {
  background-color:#888a85;
}

.explodedField .count,
.explodedField .exploded {
  background-color:#d3d7cf;
}

.explodedField .incorrect {
  background-color:#cc0000;
}
