/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnomine.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnomine.xml
/cs/cs.po
/cs/gnomine.xml
/de/de.po
/de/gnomine.xml
/el/el.po
/el/gnomine.xml
/en_GB/en_GB.po
/en_GB/gnomine.xml
/es/es.po
/es/gnomine.xml
/eu/eu.po
/eu/gnomine.xml
/fr/fr.po
/fr/gnomine.xml
/gnomine-C.omf
/gnomine-ca.omf
/gnomine-cs.omf
/gnomine-de.omf
/gnomine-el.omf
/gnomine-en_GB.omf
/gnomine-es.omf
/gnomine-eu.omf
/gnomine-fr.omf
/gnomine-it.omf
/gnomine-oc.omf
/gnomine-sv.omf
/gnomine-zh_CN.omf
/it/gnomine.xml
/it/it.po
/oc/gnomine.xml
/oc/oc.po
/so_locations
/sv/gnomine.xml
/sv/sv.po
/tags
/zh_CN/gnomine.xml
/zh_CN/zh_CN.po
