.pausedOverlay {
  background-color:#babdb6;
  color: white;
  font-size:32px;
  border-radius: 3px;
}

.pausedOverlay:backdrop {
  background-color: shade(#babdb6,1.1);
}

.count, .explodedField .tile {
  -gtk-icon-filter: none;
}

/* These are the default style settings possibly overridden by themes */

/* Common style for all tiles */
.tile {
  background-image:none;
  background-color:#babdb6;
  border-color:@theme_bg_color;
  border-radius:4px; /* border width might be affecting */
  color:transparent;
  border-image:none;
  font-size:16px;
  font-weight: bold;
  background-size: 80%;
  background-position: 50%;
  padding:4px;
  background-origin: content-box;
  background-repeat: no-repeat;
  box-shadow:none;
  border-width:2px;
  min-height:24px;
  min-width:24px;
  border-style:solid;
  -gtk-icon-shadow:none;
  -gtk-icon-filter:none;
}

.tile:not(.cursor):hover {
  background-color:#d3d7cf;
}

.tile:active {
  background-color:#888a85;
  box-shadow: inset 0 2px 1px rgba(0,0,0,.2);
}

/* Style for revealed fields showing numbers */
.count {
  color:black;
  font-size:0px;
  background-image:none;
  background-color:#dededc;
}

.mine {
  background-image: -gtk-icontheme('mine');
}

.flag {
  background-image: -gtk-icontheme('flag');
}

.incorrect {
  background-image: -gtk-icontheme('incorrect');
}

.maybe {
  background-image: -gtk-icontheme('maybe');
}

.exploded {
  background-image: -gtk-icontheme('exploded');
}

.surrounded-by-1-mines {
  background-image: -gtk-icontheme('1mines');
}

.surrounded-by-2-mines {
  background-image: -gtk-icontheme('2mines');
}

.surrounded-by-3-mines {
  background-image: -gtk-icontheme('3mines');
}

.surrounded-by-4-mines {
  background-image: -gtk-icontheme('4mines');
}

.surrounded-by-5-mines {
  background-image: -gtk-icontheme('5mines');
}

.surrounded-by-6-mines {
  background-image: -gtk-icontheme('6mines');
}

.surrounded-by-7-mines {
  background-image: -gtk-icontheme('7mines');
}

.surrounded-by-8-mines {
  background-image: -gtk-icontheme('8mines');
}

.count:not(.cursor):hover {
  background-color:#dededc;
}

/* Style for mines */
.mine {
  background-color:#729fcf;
}

/* Style of the keyboard cursor */
.cursor {
  background-color:#e9b96e;
}

/* Styles to be used on game over*/
.explodedField .incorrect {
  background-color:#cc0000;
}

